* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

BODY {
    background-image: linear-gradient(to right, #66df9f 1%, #35b9aa 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.content {
    display: block;
    position: relative;
    width: auto;
    height: auto;
    min-height: 100vh;
    padding: 39px 30px 55px 30px;
    text-align: center;
}

H1 {
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 900;  
    font-stretch: normal;
    font-style: italic;
    line-height: normal;
    letter-spacing: 1.4px;
    text-align: center;
    color: #f7f7f7;
}

INPUT {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;  
    color: #555;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3)
}

BUTTON {
    position: relative;
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #f7f7f7;
    width: 100%;
    max-width: 1000px;
    border-radius: 25px;
    border:none;
    background-color: #2D8474;
    padding: 8px 0;
    margin: 20px auto 36.5px;
}

BUTTON.plus::after,
BUTTON.close::after {
    content: "+";
    float: right;
    font-size: 30px;
    color: #fff;
    position: absolute;
    right: 20px;
    top: 0;
    font-weight: 300;
}

BUTTON.close::after {
    content: "x";
}


.line {
    border: 1px solid #000;
    width: 120%;
    margin: 0 -10%;
    opacity: 0.1;
}

DIV.addContent {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 60px;
}

.inputValue {
    width: 20%;
    box-sizing: border-box;
}

DIV.addContent p.space {
    width: 10%;
    font-size: 28px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
}

.inputItem {
    width:70%;
    box-sizing: border-box;
}

DIV.addContent BUTTON.plus {
    width: 100%;
    box-sizing: border-box;
}

UL {
    margin: 41.5px 0 42px;
    padding: 0;
    text-align: left;
}

LI {
    width: 100%;
    padding: 17px 0;
    text-align: center;
    list-style: none;
    border-radius: 3px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    background-color: #bbffe1;
    margin-bottom: 15px;  
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #2d8474;
    position: relative;
}

UL>LI:nth-child(odd) {
    background-color: #bbffe1;
}

UL>LI:nth-child(even) {
    background-color: #bbffd8;
}
LI.active {
    opacity: 1;
}

LI.deactive {
    opacity: 0.3;
}

LI.deactive::after {
    content: "\2713";
    position: absolute;
    top: -10px;
    right: -18px;
    background-color: inherit;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin-right: 10px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    background-color: #2d8474;
    color: #fff;
}

.itemEntries {
    opacity: 0.75;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;  
    color: #f7f7f7;
    margin-top: 41px;
}

.error_input {
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: red;
    opacity: 0;
}

.error_input.on {
    opacity: 1;
}

@media screen and (min-width: 768px) {
    LI {
        width: calc(50% - 20px);
        display: inline-block;
        margin-right: 20px;
        box-sizing: border-box;
    }
}

@media screen and (min-width:1024px) {
    DIV.addContent {
        margin-bottom: 36.5px;
    }

    .inputValue {
        width: 10%;
    }

    DIV.addContent p.space {
        width: 5%;
    }

    .inputItem {
        width: 35%;
    }

    DIV.addContent BUTTON.plus {
        width: calc(50% - 20px);
        margin: 0 0 0 20px;
    }

    INPUT {
        margin: 0;
        padding: 0;
    }
}

@media screen and (min-width: 1200px) {
    LI {
        width: calc(25% - 20px);
        display: inline-block;
        margin-right: 20px;
        box-sizing: border-box;
    }
}